COOKIE_NAME=
HTTPONLY=
SECURE=
SAMESITE=
TOKEN_EXPIRE_IN=

SECRET_KEY=

DATABASE_URL="postgresql+psycopg://postgres:postgres@localhost:5432/user_service"

BREVO_SENDER_NAME=
BREVO_SENDER_EMAIL=
BREVO_API_KEY=