<!doctype html>
<html>
  <body style="margin: auto; max-width: 600px">
    <p>Bonjour,</p>
    <p>
      Nous avons reçu une demande de réinitialisation de mot de passe pour votre compte Mandrosoa.<br />
      Votre code de validation à 6 chiffres est :
    </p>

    <p style="text-align: center; font-size: 20px; font-weight: bold">
      <span style="background-color: #f2f2f2; padding: 5px 20px">{{ reset_code }}</span>
    </p>

    <p>
      Si vous n'êtes pas à l'origine de cette demande, vous pouvez ignorer cet e-mail en toute sécurité. Votre mot de
      passe actuel restera inchangé.<br />
      Ce code expirera dans 1 heure.
    </p>

    <p>L'équipe Mandrosoa</p>
  </body>
</html>
